<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <isapiFilters>
            <filter name="Rewrite_sitestar" path="D:\wwwroot\jcmsss\Rewrite_sitestar\Rewrite.dll" />
        </isapiFilters>
        <httpErrors errorMode="Custom">
            <remove statusCode="404" subStatusCode="-1" />
            <error statusCode="404" prefixLanguageFilePath="" path="D:\wwwroot\jcmsss\wwwroot\404.html" responseMode="File" />
        </httpErrors>
    </system.webServer>
</configuration>
